In [1]:
import pandas as pd
import numpy as np

def linReg(x_train, y_train, x_test):
    ones = np.ones([x_train.shape[0], 1])
    x_train = np.concatenate((ones, x_train), axis=1)
    ones = np.ones([x_test.shape[0], 1])
    x_test = np.concatenate((ones, x_test), axis=1)
    temp_1 = np.dot(x_train.T, x_train)
    temp_1 = temp_1.astype(np.float64)
    temp_1 = np.linalg.pinv(temp_1)
    temp_2 = np.dot(x_train.T, y_train)
    theta = np.dot(temp_1, temp_2)
    preds = np.dot(x_test, theta)
    return preds

In [3]:
df = pd.read_csv("Ground_Water_Data\\ground_water_quality_in_andhra_pradesh-2014.csv",
                encoding = "unicode_escape")
df.head(68)

,STATION CODE,LOCATIONS,STATE,TEMPERATURE ºC : Min,TEMPERATURE ºC : Max,TEMPERATURE ºC : Mean,pH : Min : 6.5-8.5,pH : Max : 6.5-8.5,pH : Mean : 6.5-8.5,CONDUCTIVITY (µmhos/cm) : Min,...,B.O.D. (mg/l) : Mean : < 3 mg/l,NITRATE- N+ NITRITE-N (mg/l) : Min,NITRATE- N+ NITRITE-N (mg/l) : Max,NITRATE- N+ NITRITE-N (mg/l) : Mean,FECAL COLIFORM (MPN/100ml) : Min : < 2500 MPN/100ml,FECAL COLIFORM (MPN/100ml) : Max : < 2500 MPN/100ml,FECAL COLIFORM (MPN/100ml) : Mean : < 2500 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Min : < 5000 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Max : < 5000 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Mean : < 5000 MPN/100ml
0,1513,"B W. - KRISHNA MURTHY, D.NO. 48-16-43 AUTONAGA...",ANDHRA PRADESH,23,23.0,23.0,7.0,7.0,7.0,2050,...,NaN,2.50,2.50,2.5,NaN,NaN,NaN,400.0,400.0,400.0
1,1514,"B/W. - VIJAY KUMAR AUTONAGAR VIJAYAWADA, KRISH...",ANDHRA PRADESH,23,23.0,23.0,7.3,7.3,7.3,1639,...,NaN,1.20,1.20,1.2,NaN,NaN,NaN,400.0,400.0,400.0
2,1515,"B/W. - NAGARAM(V), PALVONCHA, KHAMMAM DIST., A.P.",ANDHRA PRADESH,19,19.0,19.0,7.4,7.4,7.4,1569,...,0.6,2.80,2.80,2.8,NaN,NaN,NaN,400.0,400.0,400.0
3,1516,B W OF NAVLOK GARDENS NELLORE AP,ANDHRA PRADESH,29,29.0,29.0,7.4,7.4,7.4,1119,...,NaN,0.50,0.50,0.5,NaN,NaN,NaN,400.0,400.0,400.0
4,1517,"B/W. - TUNGBHADRA RIVER NEAR KURNOOL, A.P.",ANDHRA PRADESH,27,30.6,28.5,7.2,8.1,7.9,1520,...,0.9,3.10,8.00,4.6,0.0,0.0,0.0,20.0,40.0,32.0
5,1518,"B/W. - NANDYAL, KURNOOL DIST., A.P.",ANDHRA PRADESH,27,35.0,29.6,7.8,8.2,7.9,2150,...,1.4,4.00,14.00,8.4,0.0,0.0,0.0,20.0,50.0,36.0
6,1519,"B/W. - NAGIRI, CHITTOOR DIST., A.P",ANDHRA PRADESH,27,37.0,29.2,7.8,8.1,7.9,730,...,1.4,0.00,3.10,1.7,0.0,0.0,0.0,30.0,30.0,30.0
7,1520,"B/W. - SWARNAMUKHI RIVER, SRIKALAHASTI, CHITTO...",ANDHRA PRADESH,27,39.5,31.1,7.6,8.3,7.9,723,...,1.3,2.10,11.50,4.6,0.0,0.0,0.0,20.0,40.0,34.0
8,1521,"O/W. - NEAR RAMA TEMPLE , WARD NO.2 , MINDI , ...",ANDHRA PRADESH,25,25.0,25.0,7.7,7.7,7.7,1790,...,1.0,5.40,5.40,5.4,9.0,9.0,9.0,120.0,120.0,120.0
9,1522,"O/W. PEDDANUYYI - VIZIANAGARAM, A.P",ANDHRA PRADESH,25,29.0,26.0,7.2,7.7,7.4,771,...,1.1,1.10,1.80,1.4,4.0,23.0,16.0,4.0,150.0,84.0
10,1523,"B/W. - NEAR M/S ANDHRA SUGARS LTD. , KOVVUR , ...",ANDHRA PRADESH,27,27.0,27.0,7.9,7.9,7.9,347,...,1.0,0.20,0.20,0.2,3.0,3.0,3.0,14.0,14.0,14.0
11,1524,"O/W. -NEAR PARTAP NAGAR BRIIDGE -KAKINADA , E....",ANDHRA PRADESH,26,26.0,26.0,7.4,7.4,7.4,1904,...,1.2,1.50,1.50,1.5,4.0,4.0,4.0,4.0,4.0,4.0
12,1795,"B/W. - PANCHAYAT OFFICE , , BOLLARAM (V) MEDAK...",ANDHRA PRADESH,32,32.0,32.0,7.7,7.7,7.7,3180,...,6.8,8.00,8.00,8.0,10.0,10.0,10.0,86.0,86.0,86.0
13,1810,"B/W - SRI RAMNAGAR COLONY, SAKKAR NAGAR, BODHA...",ANDHRA PRADESH,28,28.0,28.0,7.5,7.5,7.5,1462,...,1.0,5.00,5.00,5.0,10.0,10.0,10.0,64.0,64.0,64.0
14,1811,"B/W. - PRIMARY SCHOOL - RUDRAVELLI (V) , BIBIN...",ANDHRA PRADESH,29,29.0,29.0,6.9,6.9,6.9,4010,...,1.8,2.00,2.00,2.0,10.0,10.0,10.0,32.0,32.0,32.0
15,3087,"BORE WELL NEAR VILLAGE SECRETARIAT, PATHAPADU ...",ANDHRA PRADESH,23,23.0,23.0,7.1,7.1,7.1,1976,...,NaN,5.20,5.20,5.2,NaN,NaN,NaN,400.0,400.0,400.0
16,3088,"B/W AT J.NARASIMHA RAOS HOUSE, 14NOS. AREA, R...",ANDHRA PRADESH,20,20.0,20.0,7.2,7.2,7.2,1700,...,NaN,0.70,0.70,0.7,NaN,NaN,NaN,400.0,400.0,400.0
17,3089,"HAND PUMP AT TANAM VILL., VISHAKHAPATNAM, A.P.",ANDHRA PRADESH,25,25.0,25.0,7.7,7.7,7.7,2951,...,1.2,4.70,4.70,4.7,4.0,4.0,4.0,9.0,9.0,9.0
18,3090,"HAND PUMP AT PITTAVANIPALEM, VISHAKHAPATNAM , ...",ANDHRA PRADESH,26,26.0,26.0,7.2,7.2,7.2,2311,...,1.0,8.60,8.60,8.6,120.0,120.0,120.0,2400.0,2400.0,2400.0
19,3091,"BORE WELL AT KAPULUPPADA DUMPSITE, VISHAKHAPAT...",ANDHRA PRADESH,25,25.0,25.0,7.8,7.8,7.8,2608,...,1.0,8.80,8.80,8.8,4.0,4.0,4.0,28.0,28.0,28.0
20,3092,"BORE WELL AT ARINAMA AKKIVALASA, SRIKAKULAM, A.P.",ANDHRA PRADESH,25,25.0,25.0,7.6,7.6,7.6,911,...,1.0,3.50,3.50,3.5,9.0,9.0,9.0,120.0,120.0,120.0
21,3093,"B/W AT ALLADAPALEM VILLAGE, PYDIBHIMAVARAM, DI...",ANDHRA PRADESH,25,25.0,25.0,7.9,7.9,7.9,2096,...,1.0,6.30,6.30,6.3,4.0,4.0,4.0,11.0,11.0,11.0
22,3094,"Bore well at Akbarnagar, Ramagundam",ANDHRA PRADESH,0,0.0,0.0,7.6,7.6,7.6,896,...,16.0,0.00,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
23,1791,Borewell at Pydipally near East side of Sai ch...,ANDHRA PRADESH,0,0.0,0.0,7.9,7.9,7.9,1184,...,34.0,0.00,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
24,1792,"Borewell at CKM College, Enamamula",ANDHRA PRADESH,0,0.0,0.0,8.1,8.1,8.1,1312,...,56.0,0.00,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25,1793,Open well at Kundanpally near ash ponds of NTPC,ANDHRA PRADESH,0,0.0,0.0,8.1,8.1,8.1,1784,...,21.0,0.00,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26,1794,Borewell at Manakondur,ANDHRA PRADESH,0,0.0,0.0,8.0,8.0,8.0,1099,...,24.0,0.00,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
27,16,Open well at Tadavai,ANDHRA PRADESH,0,0.0,0.0,7.6,7.6,7.6,1577,...,12.0,0.00,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
28,26,Borewell at Vijayawada,ANDHRA PRADESH,22,22.0,22.0,7.3,7.3,7.3,1738,...,NaN,0.95,0.95,1.0,NaN,NaN,NaN,400.0,400.0,400.0
29,27,B/w at Peddavoora,ANDHRA PRADESH,30,30.0,30.0,7.9,7.9,7.9,497,...,1.0,3.00,3.00,3.0,10.0,10.0,10.0,24.0,24.0,24.0

In [4]:
df_na = df[df.isna().any(axis=1)]
df_na.head()

,STATION CODE,LOCATIONS,STATE,TEMPERATURE ºC : Min,TEMPERATURE ºC : Max,TEMPERATURE ºC : Mean,pH : Min : 6.5-8.5,pH : Max : 6.5-8.5,pH : Mean : 6.5-8.5,CONDUCTIVITY (µmhos/cm) : Min,...,B.O.D. (mg/l) : Mean : < 3 mg/l,NITRATE- N+ NITRITE-N (mg/l) : Min,NITRATE- N+ NITRITE-N (mg/l) : Max,NITRATE- N+ NITRITE-N (mg/l) : Mean,FECAL COLIFORM (MPN/100ml) : Min : < 2500 MPN/100ml,FECAL COLIFORM (MPN/100ml) : Max : < 2500 MPN/100ml,FECAL COLIFORM (MPN/100ml) : Mean : < 2500 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Min : < 5000 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Max : < 5000 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Mean : < 5000 MPN/100ml
0,1513,"B W. - KRISHNA MURTHY, D.NO. 48-16-43 AUTONAGA...",ANDHRA PRADESH,23,23.0,23.0,7.0,7.0,7.0,2050,...,NaN,2.5,2.5,2.5,NaN,NaN,NaN,400.0,400.0,400.0
1,1514,"B/W. - VIJAY KUMAR AUTONAGAR VIJAYAWADA, KRISH...",ANDHRA PRADESH,23,23.0,23.0,7.3,7.3,7.3,1639,...,NaN,1.2,1.2,1.2,NaN,NaN,NaN,400.0,400.0,400.0
2,1515,"B/W. - NAGARAM(V), PALVONCHA, KHAMMAM DIST., A.P.",ANDHRA PRADESH,19,19.0,19.0,7.4,7.4,7.4,1569,...,0.6,2.8,2.8,2.8,NaN,NaN,NaN,400.0,400.0,400.0
3,1516,B W OF NAVLOK GARDENS NELLORE AP,ANDHRA PRADESH,29,29.0,29.0,7.4,7.4,7.4,1119,...,NaN,0.5,0.5,0.5,NaN,NaN,NaN,400.0,400.0,400.0
15,3087,"BORE WELL NEAR VILLAGE SECRETARIAT, PATHAPADU ...",ANDHRA PRADESH,23,23.0,23.0,7.1,7.1,7.1,1976,...,NaN,5.2,5.2,5.2,NaN,NaN,NaN,400.0,400.0,400.0

In [5]:
df_train = df.dropna(axis='rows')
df_train.head()

,STATION CODE,LOCATIONS,STATE,TEMPERATURE ºC : Min,TEMPERATURE ºC : Max,TEMPERATURE ºC : Mean,pH : Min : 6.5-8.5,pH : Max : 6.5-8.5,pH : Mean : 6.5-8.5,CONDUCTIVITY (µmhos/cm) : Min,...,B.O.D. (mg/l) : Mean : < 3 mg/l,NITRATE- N+ NITRITE-N (mg/l) : Min,NITRATE- N+ NITRITE-N (mg/l) : Max,NITRATE- N+ NITRITE-N (mg/l) : Mean,FECAL COLIFORM (MPN/100ml) : Min : < 2500 MPN/100ml,FECAL COLIFORM (MPN/100ml) : Max : < 2500 MPN/100ml,FECAL COLIFORM (MPN/100ml) : Mean : < 2500 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Min : < 5000 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Max : < 5000 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Mean : < 5000 MPN/100ml
4,1517,"B/W. - TUNGBHADRA RIVER NEAR KURNOOL, A.P.",ANDHRA PRADESH,27,30.6,28.5,7.2,8.1,7.9,1520,...,0.9,3.1,8.0,4.6,0.0,0.0,0.0,20.0,40.0,32.0
5,1518,"B/W. - NANDYAL, KURNOOL DIST., A.P.",ANDHRA PRADESH,27,35.0,29.6,7.8,8.2,7.9,2150,...,1.4,4.0,14.0,8.4,0.0,0.0,0.0,20.0,50.0,36.0
6,1519,"B/W. - NAGIRI, CHITTOOR DIST., A.P",ANDHRA PRADESH,27,37.0,29.2,7.8,8.1,7.9,730,...,1.4,0.0,3.1,1.7,0.0,0.0,0.0,30.0,30.0,30.0
7,1520,"B/W. - SWARNAMUKHI RIVER, SRIKALAHASTI, CHITTO...",ANDHRA PRADESH,27,39.5,31.1,7.6,8.3,7.9,723,...,1.3,2.1,11.5,4.6,0.0,0.0,0.0,20.0,40.0,34.0
8,1521,"O/W. - NEAR RAMA TEMPLE , WARD NO.2 , MINDI , ...",ANDHRA PRADESH,25,25.0,25.0,7.7,7.7,7.7,1790,...,1.0,5.4,5.4,5.4,9.0,9.0,9.0,120.0,120.0,120.0

In [36]:
dtemp = df[df_na.columns[df_na.isnull().any()]]
dtemp.head(29)

,B.O.D. (mg/l) : Min : < 3 mg/l,B.O.D. (mg/l) : Max : < 3 mg/l,B.O.D. (mg/l) : Mean : < 3 mg/l,FECAL COLIFORM (MPN/100ml) : Min : < 2500 MPN/100ml,FECAL COLIFORM (MPN/100ml) : Max : < 2500 MPN/100ml,FECAL COLIFORM (MPN/100ml) : Mean : < 2500 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Min : < 5000 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Max : < 5000 MPN/100ml,TOTAL COLIFORM (MPN/100ml) : Mean : < 5000 MPN/100ml
0,NaN,NaN,NaN,NaN,NaN,NaN,400.0,400.0,400.0
1,NaN,NaN,NaN,NaN,NaN,NaN,400.0,400.0,400.0
2,0.6,0.6,0.6,NaN,NaN,NaN,400.0,400.0,400.0
3,NaN,NaN,NaN,NaN,NaN,NaN,400.0,400.0,400.0
4,0.8,1.0,0.9,0.0,0.0,0.0,20.0,40.0,32.0
5,1.0,1.6,1.4,0.0,0.0,0.0,20.0,50.0,36.0
6,1.1,1.8,1.4,0.0,0.0,0.0,30.0,30.0,30.0
7,1.1,1.5,1.3,0.0,0.0,0.0,20.0,40.0,34.0
8,1.0,1.0,1.0,9.0,9.0,9.0,120.0,120.0,120.0
9,1.0,1.2,1.1,4.0,23.0,16.0,4.0,150.0,84.0
10,1.0,1.0,1.0,3.0,3.0,3.0,14.0,14.0,14.0
11,1.2,1.2,1.2,4.0,4.0,4.0,4.0,4.0,4.0
12,6.8,6.8,6.8,10.0,10.0,10.0,86.0,86.0,86.0
13,1.0,1.0,1.0,10.0,10.0,10.0,64.0,64.0,64.0
14,1.8,1.8,1.8,10.0,10.0,10.0,32.0,32.0,32.0
15,NaN,NaN,NaN,NaN,NaN,NaN,400.0,400.0,400.0
16,NaN,NaN,NaN,NaN,NaN,NaN,400.0,400.0,400.0
17,1.2,1.2,1.2,4.0,4.0,4.0,9.0,9.0,9.0
18,1.0,1.0,1.0,120.0,120.0,120.0,2400.0,2400.0,2400.0
19,1.0,1.0,1.0,4.0,4.0,4.0,28.0,28.0,28.0
20,1.0,1.0,1.0,9.0,9.0,9.0,120.0,120.0,120.0
21,1.0,1.0,1.0,4.0,4.0,4.0,11.0,11.0,11.0
22,16.0,16.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
23,34.0,34.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN
24,56.0,56.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN
25,21.0,21.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
26,24.0,24.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
27,12.0,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,400.0,400.0,400.0

In [35]:
pd.isnull(pd.DataFrame(dtemp.iloc[:,1])).any(1).to_numpy().nonzero()[0]

array([ 0,  1,  3, 15, 16, 28], dtype=int64)

In [38]:
pd.Index.isnull(df_na)

AttributeError: 'DataFrame' object has no attribute '_isnan'