In [138]:
import pandas as pd
import numpy as np
from sklearn import linear_model
%matplotlib inline

In [139]:
def linRegModel(x_train, y_train):
    ones = np.ones([x_train.shape[0], 1])
    x_train = np.concatenate((ones, x_train), axis=1)
   # ones = np.ones([x_test.shape[0], 1])
    temp_1 = np.dot(x_train.T, x_train)
    temp_1 = temp_1.astype(np.float64)
    temp_1 = np.linalg.pinv(temp_1)
    temp_2 = np.dot(x_train.T, y_train)
    theta = np.dot(temp_1, temp_2)

    return theta

In [140]:
def linRegFit(x,w):
#     x = np.reshape(x,(x.shape[0],1))
    ones = np.ones([x.shape[0], 1])
    x = np.concatenate((ones, x), axis=1)
    return np.dot(x,w)

In [141]:
df = pd.read_csv("Ground_Water_Data/ground_water_quality_in_rajasthan-2014.csv",
                encoding = "unicode_escape")

df = df.drop(["STATION CODE","LOCATIONS","STATE"],axis =1)

In [142]:
data = (np.array([[1,2,3],[4,5,6],[7,8,np.nan],[10,np.nan,12]]))
df = pd.DataFrame(data, columns = ['A', 'B','C'])
df.head()

      A    B     C
0   1.0  2.0   3.0
1   4.0  5.0   6.0
2   7.0  8.0   NaN
3  10.0  NaN  12.0

In [143]:
missing_columns = df.loc[:, df.isnull().any()].columns.values
print(missing_columns)

['B' 'C']

In [144]:
def random_imputation(df, feature):

    number_missing = df[feature].isnull().sum()
    observed_values = df.loc[df[feature].notnull(), feature]
    df.loc[df[feature].isnull(), feature + '_imp'] = np.random.choice(observed_values, number_missing, replace = True)
    
    return df

In [145]:
for feature in missing_columns:
    df[feature + '_imp'] = df[feature]
    df = random_imputation(df, feature)

In [146]:
deter_data = pd.DataFrame(columns = ["Det" + name for name in missing_columns])
df

      A    B     C  B_imp  C_imp
0   1.0  2.0   3.0    2.0    3.0
1   4.0  5.0   6.0    5.0    6.0
2   7.0  8.0   NaN    8.0   12.0
3  10.0  NaN  12.0    2.0   12.0

In [148]:
places =['andhra_pradesh','assam','bihar','chattissgarh','daman_diu_dadra_nagar_haveli','goa','himachal_pradesh','kerala','lakshadweep','madhya_pradesh','maharashtra','odisha','pondicherry','punjab','rajasthan','tripura','uttar_pradesh_uttarakhand','west_bengal']

In [150]:
for place in places:
    df = pd.read_csv("Ground_Water_Data/ground_water_quality_in_"+place+"-2014.csv",encoding = "unicode_escape")
    df = df.drop(["STATION CODE","LOCATIONS","STATE"],axis =1)
    missing_columns = df.loc[:, df.isnull().any()].columns.values
    
    for feature in missing_columns:
        df = random_imputation(df,feature)
        
   
    df.to_csv('Ground_water_pre_processed/filled_'+place+'groundwater.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Ground_water_pre_processed/filled_andhra_pradeshgroundwater.csv'

In [118]:
deter_data = pd.DataFrame(columns = ["Det" + name for name in missing_columns])
feature = "B"
deter_data["Det" + feature] = df[feature + "_imp"]
deter_data

   DetB DetC
0   2.0  NaN
1   5.0  NaN
2   8.0  NaN
3   5.0  NaN

In [119]:
parameters = list(set(df.columns) - set(missing_columns) - {feature + '_imp'})
theta =  linRegModel(df[parameters],df[feature + '_imp'])
parameters

['A', 'C_imp']

In [128]:
pd.DataFrame(linRegFit(df[parameters],theta)).loc[df[feature].isnull()]

          0
3  5.428571

In [121]:
deter_data.loc[df[feature].isnull()]

   DetB DetC
3   5.0  NaN

In [132]:
deter_data.loc[df[feature].isnull()] =  pd.DataFrame(linRegFit(df[parameters],theta)).loc[df[feature].isnull()]
deter_data

   DetB DetC
0   2.0  NaN
1   5.0  NaN
2   8.0  NaN
3   NaN  NaN

In [102]:
feature = "C"
deter_data["Det" + feature] = df[feature + "_imp"]
parameters = list(set(df.columns) - set(missing_columns) - {feature + '_imp'})
theta =  linRegModel(df[parameters],df[feature + '_imp'])
  
deter_data.loc[df[feature].isnull()] =  pd.DataFrame(linRegFit(df[parameters],theta)).loc[df[feature].isnull()]

In [103]:
deter_data

   DetB  DetC
0   2.0   3.0
1   5.0   6.0
2   4.0   4.0
3   NaN  12.0

In [135]:
deter_data = pd.DataFrame(columns = ["Det" + name for name in missing_columns])

for feature in missing_columns:
    deter_data["Det" + feature] = df[feature + "_imp"]
    parameters = list(set(df.columns) - set(missing_columns) - {feature + '_imp'})
    model = linear_model.LinearRegression()
    model.fit(X = df[parameters], y = df[feature + '_imp'])
    deter_data.loc[df[feature].isnull(), "Det" + feature] = model.predict(df[parameters])[df[feature].isnull()]

In [136]:
model.predict(df[parameters])[df[feature].isnull()]

array([11.5])

In [137]:
pd.DataFrame(linRegFit(df[parameters],theta)).loc[df[feature].isnull()]

          0
2  3.428571